<section layout="row" flex>
  <md-sidenav class="md-sidenav-left" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')" md-whiteframe="4">
    <md-toolbar class="md-theme-indigo">
      <h1 class="md-toolbar-tools">Bienvenido {{ main.nombre.usuario }}</h1>
    </md-toolbar>
    <md-content layout-padding>
      <md-button ng-click="main.close()" class="md-primary" hide-gt-md>
        Cerrar
      </md-button>
      <div hide show-gt-md>
        <md-list flex>
          <md-subheader class="md-no-sticky">Usuarios disponibles para chatear</md-subheader>
          <md-list-item class="md-3-line" ng-repeat="item in main.listaUsuarios" ng-click="main.cargarMensajes(item.id)">
            <md-divider></md-divider>
            <img ng-src="../favicon.ico" class="md-avatar" alt="{{item.usuario}}" />
            <div class="md-list-item-text" layout="column">
              <h3>{{ item.usuario }}</h3>
            </div>
          </md-list-item>
        </md-list>
      </div>
    </md-content>
  </md-sidenav>
  <md-content flex md-whiteframe="2">
    <div flex layout="column">
    <form ng-submit="main.enviarMensaje()">
      <div flex layout="column">
        <md-toolbar md-whiteframe="4" class="md-theme-indigo" layout="row">
          <h1 class="md-toolbar-tools"></h1>
          <span></span>
          <md-button md-no-ink class="md-primary md-raised" ng-click="main.cargarMensajes()">Refresh</md-button>
        </md-toolbar>
        <md-content layout-padding md-whiteframe="4">
          <section layout="column" flex>
            <div flex layout="column">
              <md-list flex>
                <md-list-item class="md-1-line" ng-repeat="item in main.listaMensajes">
                  <div class="md-list-item-text" layout="row">
                    <h4><b>{{ item.remitente.usuario }}</b>: </h4>
                    <h4> {{ item.texto }} </h4>
                  </div>
                </md-list-item>
                <md-divider></md-divider>
              </md-list>
            </div>
            <div flex layout="row">
              <md-input-container flex="70" layout="row">
                <label>mensaje</label>
                <input ng-model="main.mensaje.texto">
              </md-input-container>
              <md-button md-no-ink class="md-primary md-raised" type="submit">Enviar</md-button>
            </div>
          </section>
        </md-content>
      </div>
    </form>
  </div>
  </md-content>
</section>
